<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkBTkuwE0fNlse7EcyN3PYRf6W-T386Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>414900771667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eth.kosh.app</string>
	<key>PROJECT_ID</key>
	<string>kosh-11b41</string>
	<key>STORAGE_BUCKET</key>
	<string>kosh-11b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414900771667:ios:246878d9033038ab651fa6</string>
</dict>
</plist>